conda.enabled = true

/*
 * Pipeline parameters
 */
params.input_path = "$projectDir/data/AMPlify_AMP_test_common.fa"
params.amplify_env_directory = "~/.conda/envs/amplify_env"
params.tamper_env_directory = "~/.conda/envs/tamper_env"
params.amplify_env_directory1 = "../.conda/envs/amplify_env"
params.tamper_env_directory1 = "../.conda/envs/tamper_env"


process {
    // common attributes
    cpus = 4
    memory = 16.GB
    time = "1 h"

    withName: RUNAMPLIFY{
        conda = params.amplify_env_directory1
    }
    withName: RUNTAMPER{
        conda = params.tamper_env_directory1
    }
}
   