/*
 * Pipeline parameters
 */
params.data_path = "$projectDir/data"
params.output_path = "$projectDir/output"
params.download = false
params.download_from = ""

/*
 * Process parameters
 */
process {
    // common attributes
    cpus = 8
    memory = 64.GB
    time = "1 h"

    withName: RUNAMPLIFY{
        container = 'quay.io/biocontainers/amplify:1.1.0--hdfd78af_0'
    }
    withName: RUNTAMPER{
        conda = 'tamper_environment.yml'
    }
    withName: RUNCOLABFOLD{
        container = 'biohpc/localcolabfold:1.5'
    }
    withName: ZIPFOLDS{
        container = 'quay.io/biocontainers/amplify:1.1.0--hdfd78af_0'
    }
    withName: COMPILERESULTS{
        container = "rocker/tidyverse" 
    }
}
   
/*
 * Conda parameters
 */
conda{
    enabled = true
}

/*
 * Docker parameters
 */
docker{
    enabled = true
}

