/*
 * Pipeline parameters
 */
params.data_path = "$projectDir/data"
params.output_path = "$projectDir/output"
params.download = false
params.download_from = ""
params.output_file=''

/*
 * Process parameters
 */
process {
    // common attributes
    cpus = 6
    memory = 30.GB
    time = "2 h"

    withName: RUNAMPLIFY{
        container = 'quay.io/biocontainers/amplify:2.0.1--py36hdfd78af_0'
    }
    withName: RUNTAMPER{
        conda = './subprojects/tAMPer/environment.yml'
    }
    withName: RUNCOLABFOLD{
        container = 'biohpc/localcolabfold:1.5'
    }
    withName: COMPILERESULTS{
        container = 'itsberkeucar/ampseek-visualization' 
    }
}
   
/*
 * Conda parameters
 */
conda.enabled = true
conda.cacheDir = ".conda"

/*
 * Container parameters
 */
singularity{
    enabled = true
    autoMounts = true
    cacheDir = ".singularity"
    libraryDir = ".singularity"
    pullTimeout = "60m"
}
